{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 350px;	
		}
	</style>
{% endblock head %}

{% block meta %}
	

		<meta itemprop="image" content="{{pokemon.pokemon_image}}">

		<meta property="og:title" content="{{pokemon.pokemon_name}} Pokemon"/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content="{{pokemon.pokemon_image}}"/> 
		<meta property="og:site_name" content="fathomless-garden-39911.herokuapp.com"/> 
		<meta property="fb:app_id" content="1724325281176951" />

		<meta property="og:url" content="http://fathomless-garden-39911.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}" />
		<meta property="article:author" content="http://facebook.com/one.saurav.tomar" />
		<meta property="article:publisher" content="https://www.facebook.com/one.saurav.tomar"/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@sauravtom" />
		<meta name="twitter:title" content="{{pokemon.pokemon_name}} Pokemon" />
		<meta name="twitter:description" content="{{pokemon.pokemon_name}} Pokemon" />
    	<meta name="twitter:text" content="foo-text" />
		<meta name="twitter:image" content="{{pokemon.pokemon_image}}" />

{% endblock meta %}


{% block content %}

<h3>Whats the name of this pokemon ?</h3>

<img src='{{pokemon.pokemon_image}}'>


<!--<p>{{pokemon_names}}</p> -->
<div>
{% for item in pokemon_names %}
	<input type='button' value='{{item}}' onclick='scorecheck(this)'>
</input>
{% endfor %}

<div>
	<h1 style="font-size:1000%;" id='ha'>0</h1>
	<input type='button' value='start new' onclick='reset()'>
</div>
	</div>



{% endblock content %}

{% block scripts %}

	<script type="text/javascript">
	var iner=document.getElementById('ha').innerHTML
	if(iner=='0')
	{
		//alert("hey");
	}
var scorestore = localStorage.getItem("someVarName");
	var prevscore=parseInt(iner);
	function reset()
	{
		localStorage.setItem("someVarName", '0');
		document.location.reload();
	}
	function scorecheck(object)
	{
		var real='{{pokemon.pokemon_name}}';
	    //alert(real);
		var check=object.value;
		//alert(check);
	    //alert(prevscore);
	    if (real==check)
	    {
	    	if (scorestore)
	    	{
	    	var newscore=parseInt(scorestore)+10;
	    }
	    else 
	    {
	    	var newscore=10;
	    }
	    	//alert(newscore);
	    	//document.getElementById('ha').innerHTML=newscore;
	    	var someVarNami = newscore;
localStorage.setItem("someVarName", someVarNami);
            document.location.reload();

	    }
	    else 
	    	document.location.reload()

	}
		
		$(document).ready(function(){
			var someVarName = localStorage.getItem("someVarName");
			//alert(someVarName);
			if(someVarName)
			{
				document.getElementById('ha').innerHTML=someVarName;
			}

		   
		   
		});
	
	</script>

{% endblock scripts %}


